* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.sun-image {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  width: 50px; 
  height: auto; 
  z-index: 9999;
}

    
body {

  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 40px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
    width: 220px;
    cursor: pointer;
}

.navbar a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: lightblue; 
}

.home {
  height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url(../images/sameer.jpg);
background-size: cover;
background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 2, 2, 2); 
  z-index: -1;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
color: #D3D3D3;
line-height: 1;
  font-size: 56px;
  font-weight: 700;
}

.home-content h3 {
  font-size: 28px;
  line-height: 2;
  font-weight: 500; 
  color: lightblue;
}

.home-content p {
  font-size: 16px;
margin: 20px 0 40px;
}

.home-content .btn-box {
display: flex;
justify-content: space-between;
width: 345px;
height: 50px; 
}

.btn-box a{
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
width: 150px;
height: 100%;
background: #00abf0;
border: 2px solid #00abf0;
border-radius: 30px;
font-size: 18px;
color: #081b29;
text-decoration: none;
font-weight: 600;
letter-spacing: 1px;
z-index: 1;
overflow: hidden;
transition: .5s;
}

.btn-box a:hover {
color: #00abf0;
}


.btn-box a:nth-child(2) {
  background-color: rgba(0, 171, 240, 0); 
  color: #00ABF0; 
}

.btn-box a:nth-child(2):hover {
color: #081b29;
}

.btn-box a:nth-child(2)::before {
background: #00abf0;
}

.btn-box a::before {
content: '';
position: absolute;
top: 0;
width: 0;
width: 0%;
height: 100%;
background: #081b29;
z-index: -1;
transition: 0.5s;
}

.btn-box a:hover::before {
width: 100%;

}

.home-sci
{
    position: absolute;
    bottom: 100px;
    width: 170px;
    display: flex;
    justify-content: space-between;

} 

.home-sci a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    
}


@keyframes showRight {
100%
{
	width: 0%;
}
}
.slide-left{
  animation: slideleft 0.3s linear forwards;
}
@keyframes slideleft{
  0%{
    transform: translate(100px);
    opacity: 0;
  }
  100%{
    transform: translate(0px);
    opacity: 1;
  }
  
}
